/* @import "@mui/material/styles"; */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

:root {
  /* Colores Background */
  --bg-dark: #1D1C27;
  --bg-light: #F0F0F2;
  --bg-dark-purple: #9368F9;
  --bg-light-purple: #E769F7;
  --bg-neon-green: #40CF89;

  /* Colores de texto */
  --color-light: #1f2937;
  --color-dark: #e5e7eb;
  --color-dark-purple: #9368F9;
  --color-light-purple: #E769F7;
  --color-neon-green: #40CF89;
}

body {
  margin: 0;
  box-sizing: border-box;
}