@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";

:root {
  /* Colores Background */
  --dark-color: #1D1C27;
  --light-color: #F0F0F2;
  --dark-purple-color: #9368F9;
  --light-purple-color: #E769F7;
  --neon-green-color: #40CF89;

  /* Colores de texto */
  /* --dark-color: #e5e7eb;
  --light-color: #1f2937; */
  --dark-color: #1D1C27;
  --light-color: #F0F0F2;
  --dark-purple-color: #9368F9;
  --light-purple-color: #E769F7;
  --neon-green-color: #40CF89;
}

@theme {
  --color-dark: var(--dark-color);
  --color-light: var(--light-color);
  --color-light-text: var(--dark-color);
  --color-dark-text: var(--dark-light);
  --color-dark-purple: var(--dark-purple-color);
  --color-light-purple: var(--light-purple-color);
  --color-neon-green: var(--neon-green-color);
}

body {
  margin: 0;
  box-sizing: border-box;
}