.hamburgerButton {
    cursor: pointer;
}

.hamburgerButton > input {
    display: none;
}

.hamburgerButton > svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburgerButton > svg > path {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition:
      stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburgerButton > svg > path[class~="line-top-bottom"] {
    stroke-dasharray: 12 63;
}

.hamburgerButton input:checked + svg {
    transform: rotate(-45deg);
}

.hamburgerButton input:checked + svg > path[class~="line-top-bottom"] {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}